.menu {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 5px;
  background-color: #ff9a00;
}

nav a {
  margin-right: 25px;
  color: white;
  background-color: #ff9a00; /* Убрать разберусь с кнопками!! */
  text-decoration: none;
}
