.button {
  display: flex;
  flex-direction: row;
  margin-left: 1px;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.9rem;
  padding: 3px 10px;
  border: none;
  font-size: 2rem;
  color: #420842;
}

.button:hover {
  background-color: #f9c5bd;
  text-decoration: underline solid;
  border-radius: 50%;
}
