.App {
  text-align: center;
  font-family: Alegreya-SemiBold;
}

a {
  text-decoration: none;
  color: #460247;
}

@font-face {
  font-family: Alegreya-SemiBold;
  src: url('./fonts/Alegreya-SemiBold.ttf');
}
.alegreya-semibold {
  font-family: Alegreya-SemiBold;
}
